<!DOCTYPE html>
<html lang="id">

<head>
  <!-- Information Tabs -->
  <title>Homepage :: Restaurant Catalog</title>
  <meta name="description" content="Restaurant Catalog - A restaurant catalog application." />
  <!-- Meta Tags -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Links -->
  <link rel="preconnect" href="https://restaurant-api.dicoding.dev">
</head>

<body>
  <a href="#/main-content" class="skip-link">Menuju ke konten</a>
  <app-bar></app-bar>
  <main id="content"></main>
  <footer>
    <p>Copyright © 2021 - Restaurant Catalog</p>
  </footer>
</body>

</html>